<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.murattahtaci.abaparchitect.category"
            name="ABAP Architect">
      </category>
      <view
            id="com.murattahtaci.abaparchitect.view"
            name="ABAP Architect"
            category="com.murattahtaci.abaparchitect.category"
            class="com.murattahtaci.abaparchitect.ui.AbapArchitectView"
            restorable="true">
         <description>JSON/XML verisinden ABAP tip ve kod uretir.</description>
      </view>
   </extension>

</plugin>
